@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

img{
    margin-top: 10px;
    width: 60px;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

p{
    color: hsla(0, 0%, 100%, 0.55);
    width: 75%;
    height: 35%;
    margin-bottom: 60px;
}

button{
    position: absolute;
    bottom: 30px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    background: hsl(0, 0%, 95%);
    mix-blend-mode: screen;
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    border: 1px solid hsl(0, 0%, 95%);;
}

button:hover{
    cursor: pointer;
    background: transparent;
    color: hsl(0, 0%, 95%);
}

.main{
    margin: 60px 20px;
    height: 1200px;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.car {
    position: relative;
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 100%;
}

.car.sedan{
    background: hsl(31, 77%, 52%);
    
}

.car.suv{
    background: hsl(184, 100%, 22%);
}

.car.luxury{
    background: hsl(179, 100%, 13%);
}

@media (min-width:1000px) {
    body{
        height: 100vh;
    }

    .main{
        height: 400px;
        width: 900px;
        display: flex;
    }

    .car{
        height: 100%;
    }
}